@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family:"Poppins", "Roboto", sans-serif;
    margin: 0;
    background-color: #e1e1e1;
}

header {
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}
.contenedor{
	background-color: #fff;
}
a {
   
    text-decoration: none;
}

p.texto{
	text-align: justify;
}
a:hover {
  	
    text-decoration: none;
}
.container {
    margin: 0 auto;
    padding: 1rem;
    width: 1000px;
    max-width: 100%;
}

nav {
	
    padding: 0.5rem 0;
}



nav ul {
    display: flex;
    flex-wrap: wrap;
    
    list-style-type: none;
    padding: 0;
}

nav li {
    flex: 1 auto;
}

nav li a {
    background-color: #c01212;
    
    display: block;
    padding: 1rem 2rem;
    text-align: center;
}

nav a.active {
    background-color: #fff;
    color:  #c01212 ;
    font-weight: bold;
}

nav a.highlight {
    background-color: #ff8080;
    color: #fff;
}

nav a:hover {
	
background-color: #ffc4c5;

}


.content {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: flex-start;
  
}

.content h1 {
    background-color: #b00000;
    color: white;
    display: inline-block;
    padding: 1rem;
    font-weight: 200;
}

.white-link {
    background-color: #fff;
    color: #2d99a4;
    padding: 1rem;
}

.teal-link {
    background-color: #2d99a4;
    color: #fff;
    padding: 1rem;
    margin-top: 2rem;
}

img.check{
	width: 20px;
}
h3{
	color: #008000;
}



.footer-container {
  display: grid;
  background-color: #2f3640;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}


.movie {
    background-color: #a60409;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #4f0000;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.redondeado {
    background-color: #a60409;
    border-radius: 30px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.red{
	background-color: rgb(216, 0, 0);
	color:rgb(170,1,1);
}
.overview {
    background-color:  rgb(189, 42, 42,0.78);
    color:#fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}


@media screen and (max-width: 768px) {
    .pre-nav {
        flex-direction: column;
        justify-content: center;
    }

    .content {
        font-size: 1.5rem;
    }
    
      .footer-links .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-links .footer-container ul {
    text-align: center;
  }
}
